Algo Trading using Classification

#--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------#

In [1]:
import pandas as pd
import numpy as np
d=pd.read_csv('week3.csv')
d.head()

,Unnamed: 0,Unnamed: 0.1,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,...,Check,Month,Year,Day_Perc_Change,Trend,moving_21,std_dev,std_2,upper,lower
0,13,13,HEROMOTOCO,EQ,2017-06-01,3745.45,3742.00,3815.00,3708.80,3730.00,...,ok,6,2017,-0.323059,Slight or No change,3627.767857,8.555992,17.111984,3636.323849,3619.211865
1,14,14,HEROMOTOCO,EQ,2017-06-02,3733.35,3758.80,3857.50,3750.00,3849.95,...,ok,6,2017,3.117843,Among top gainers,3651.646429,82.307229,164.614459,3733.953658,3569.339199
2,15,15,HEROMOTOCO,EQ,2017-06-05,3849.75,3850.00,3880.55,3821.25,3830.55,...,ok,6,2017,-0.384441,Slight or No change,3667.042857,10.465180,20.930361,3677.508038,3656.577677
3,17,17,HEROMOTOCO,EQ,2017-06-07,3799.95,3803.85,3856.05,3803.85,3841.00,...,ok,6,2017,1.139489,Positive,3695.985714,30.617724,61.235447,3726.603438,3665.367991
4,19,19,HEROMOTOCO,EQ,2017-06-09,3784.45,3796.30,3800.50,3755.60,3786.00,...,ok,6,2017,-0.114944,Slight or No change,3726.732143,3.075914,6.151829,3729.808057,3723.656228

In [2]:
d['Close Price'].head()

0    3733.35
1    3849.75
2    3834.95
3    3843.25
4    3780.10
Name: Close Price, dtype: float64

In [7]:
d['middle'] = d[['upper', 'lower']].mean(axis=1)
d.head()

,Unnamed: 0,Unnamed: 0.1,Symbol,Series,Date,Prev Close,Open Price,High Price,Low Price,Last Price,...,Month,Year,Day_Perc_Change,Trend,moving_21,std_dev,std_2,upper,lower,middle
0,13,13,HEROMOTOCO,EQ,2017-06-01,3745.45,3742.00,3815.00,3708.80,3730.00,...,6,2017,-0.323059,Slight or No change,3627.767857,8.555992,17.111984,3636.323849,3619.211865,3627.767857
1,14,14,HEROMOTOCO,EQ,2017-06-02,3733.35,3758.80,3857.50,3750.00,3849.95,...,6,2017,3.117843,Among top gainers,3651.646429,82.307229,164.614459,3733.953658,3569.339199,3651.646429
2,15,15,HEROMOTOCO,EQ,2017-06-05,3849.75,3850.00,3880.55,3821.25,3830.55,...,6,2017,-0.384441,Slight or No change,3667.042857,10.465180,20.930361,3677.508038,3656.577677,3667.042857
3,17,17,HEROMOTOCO,EQ,2017-06-07,3799.95,3803.85,3856.05,3803.85,3841.00,...,6,2017,1.139489,Positive,3695.985714,30.617724,61.235447,3726.603438,3665.367991,3695.985714
4,19,19,HEROMOTOCO,EQ,2017-06-09,3784.45,3796.30,3800.50,3755.60,3786.00,...,6,2017,-0.114944,Slight or No change,3726.732143,3.075914,6.151829,3729.808057,3723.656228,3726.732143

In [8]:

df = d[['Close Price','middle', 'upper', 'lower']].copy()
df.tail()

     Close Price       middle        upper        lower
299      2551.70  2632.871429  2661.049634  2604.693223
300      2565.40  2628.710714  2638.398077  2619.023351
301      2527.35  2618.935714  2621.728786  2616.142642
302      2537.75  2597.282143  2624.187556  2570.376730
303      2510.75  2564.200000  2566.639518  2561.760482



#Create a new column 'Call' , whose entries are - 

>'Buy' if the stock price is below the lower Bollinger band 

>'Hold Buy/ Liquidate Short' if the stock price is between the lower and middle Bollinger band 

>'Hold Short/ Liquidate Buy' if the stock price is between the middle and upper Bollinger band 

>'Short' if the stock price is above the upper Bollinger band

In [26]:
call=[]
for i in range (0,304):
    if  df.iloc[i,0] < df.iloc[i,3]:
        call.append('Buy')
    elif df.iloc[i,0] > df.iloc[i,2] :
        call.append('Short')
    elif df.iloc[i,3]< df.iloc[i,0] < df.iloc[i,1]:
        call.append('Hold Buy')
    elif df.iloc[i,1]< df.iloc[i,0] < df.iloc[i,2]:
        call.append('Hold short')
#print(call)
df['Call']=call
df.head(10)

   Close Price       middle        upper        lower        Call
0      3733.35  3627.767857  3636.323849  3619.211865       Short
1      3849.75  3651.646429  3733.953658  3569.339199       Short
2      3834.95  3667.042857  3677.508038  3656.577677       Short
3      3843.25  3695.985714  3726.603438  3665.367991       Short
4      3780.10  3726.732143  3729.808057  3723.656228       Short
5      3773.25  3740.178571  3745.022253  3735.334890       Short
6      3789.05  3765.042857  3790.887610  3739.198104  Hold short
7      3777.70  3776.421429  3784.447091  3768.395767  Hold short
8      3783.55  3784.832143  3788.968718  3780.695568    Hold Buy
9      3825.45  3790.910714  3820.538488  3761.282940       Short

In [28]:
from sklearn.neighbors import KNeighborsClassifier

from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score

In [29]:
import sklearn 
from sklearn.model_selection import train_test_split
train,test=train_test_split(df,test_size=0.2)
print(train.shape)
print(test.shape)

(243, 5)
(61, 5)

In [34]:
x_train=train[['upper','middle','lower','Close Price']]
y_train=train[['Call']]
x_test=test[['upper','middle','lower','Close Price']]
y_test=test[['Call']]
x_train.head()
y_train.head()

           Call
28          Buy
17   Hold short
286         Buy
108         Buy
137         Buy

In [35]:

knn=  KNeighborsClassifier()
knn.fit(x_train,y_train)
y_pred=knn.predict(x_test)
print(accuracy_score(y_pred, y_test))
print(y_pred)

0.8360655737704918
['Buy' 'Short' 'Buy' 'Buy' 'Short' 'Buy' 'Buy' 'Short' 'Short' 'Buy' 'Buy'
 'Buy' 'Buy' 'Short' 'Buy' 'Short' 'Buy' 'Hold Buy' 'Buy' 'Short' 'Short'
 'Short' 'Hold short' 'Buy' 'Buy' 'Buy' 'Hold short' 'Short' 'Buy' 'Short'
 'Short' 'Buy' 'Short' 'Buy' 'Hold short' 'Short' 'Buy' 'Short' 'Buy'
 'Buy' 'Short' 'Short' 'Buy' 'Short' 'Buy' 'Short' 'Short' 'Buy' 'Short'
 'Short' 'Short' 'Short' 'Buy' 'Buy' 'Short' 'Buy' 'Short' 'Short' 'Buy'
 'Short' 'Buy']

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

In [37]:
dct=  DecisionTreeClassifier()
dct.fit(x_train,y_train)
y_pred=dct.predict(x_test)
print(y_pred)
print(accuracy_score(y_pred, y_test))

['Short' 'Short' 'Buy' 'Buy' 'Short' 'Buy' 'Hold Buy' 'Short' 'Short'
 'Buy' 'Buy' 'Buy' 'Buy' 'Short' 'Hold short' 'Short' 'Buy' 'Hold short'
 'Buy' 'Short' 'Short' 'Short' 'Hold short' 'Buy' 'Buy' 'Buy' 'Hold short'
 'Short' 'Buy' 'Short' 'Short' 'Buy' 'Short' 'Buy' 'Short' 'Short' 'Buy'
 'Short' 'Short' 'Buy' 'Short' 'Short' 'Buy' 'Short' 'Buy' 'Short' 'Short'
 'Buy' 'Short' 'Short' 'Short' 'Hold Buy' 'Short' 'Buy' 'Short' 'Buy'
 'Short' 'Short' 'Buy' 'Short' 'Buy']
0.7868852459016393

# Conclusion: So knn best fits the problem with 0.8 accuracy